/* Design is desktop first */
body {
  background-color: lightgoldenrodyellow;
  color: navy;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  margin:0;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-style: oblique;
  font-size: 50px;
  color: rgb(68, 88, 241);
  margin: 0 auto;
}


h2{
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

/* phone */
@media (max-width: 675px){
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
}
@media (min-width: 675px) and (max-width: 1024px){
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3rem;
  }
}

p {
  margin: 10px;
}

#about{
  margin-top: 20px;
  margin-bottom: 50px;
}

#experience{
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}

.experience-columns { 
  display: flex;
  margin-top: 0px;
}

.experience-column{
  display:flex;
  flex-direction: column;
  padding: 0px;
  flex: 2;
}

.experience-individual{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(0, 74, 15);
  color: lightgoldenrodyellow;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 5%;
}

.experience-title, .experience-date, .experience-description {
  width: 30%;
}
/* phone */
@media (max-width: 675px) {
    .experience{
      text-align: left;
    }
    .experience-columns{
      width: 35em;
    }
    .experience-column{
      flex-direction: column;
      
    }
    .experience-individual{
      flex-direction: column;
      border-radius: 10px 10px 10px 10px;
      border-width: 675px;
      
    }
    .experience-title, .experience-date, .experience-description {
      width: 35em;
  
  }

}

/* tablet */
@media (min-width: 675px) and (max-width: 1024px) {

    .experience-column{
      flex-direction: column;
      
    }
    .experience-individual{
      flex-direction: column;
      width: 60rem;
      margin-left: 2%;
      margin-right: 2%;

    }
    .experience-title, .experience-date, .experience-description {
      width: 100%;
      
  }

}


#skill-list li {
  display: block; 
  margin-bottom: 10px; 
}

#connect {
  text-align: center;
}

.connect-columns {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;                  
  justify-content: center;
}

.connect-column {
  padding: 0;
}



#profile-picture {
  display: block;
  margin: 0 auto;
}